.login-section{
    max-width: 1440px;
    margin: auto;
    position: relative;
    height: 100vh;
}

.login-bg{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -5;
    /* background-image: url("../../assets/images/login_bg.png");  */
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;

    width: 300px;
    height: 550px; 
} 

.login-contain{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
    /* border: 1px solid red; */
    padding: 50px 0px;
}

.login-contain > img{
    width: 350px;
}

/* input-div -> index.css */

.form-contain{
    width: 350px;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;

    /* border: 1px solid yellow; */
    padding-top: 60px;
}
 
.form-contain .input-remember-me{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
}

.form-contain .input-remember-me >div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.form-contain .input-remember-me >span{
    color: #E7B600;
    cursor: pointer;
}

/* btn-main  -> index.css */

.form-contain >:last-child{
    font-weight: 400;
    font-size: 16px;
    
}

.form-contain >:last-child>:last-child{
    color: #157D98;
    font-weight: 500;
    font-size: 18px;

    cursor: pointer;
}

/* set responsive */

@media (max-width:768px) {
    .login-bg{
        display: none;
    } 
}


@media (max-width:390px) {
   
    .form-contain{
        width: 280px;
        gap: 20px;
    }

    .form-contain >:last-child{
        font-size: 14px;
    }
    .form-contain .input-remember-me{
        font-size: 14px;
    }
}